body {
  background: #000;
  color: yellowgreen;
  padding: 25px;
  font-family:monospace;
  background-image: url('https://i.postimg.cc/Sx4km4fL/Screenshot-2025-10-13-132838.jpg');
  background-size:cover;
  background-position:cover;
  background-repeat:no-repeat;
}

.border {
  border-radius: 25px;
  border-style:dotted;
}

.borderText {
  border-radius: 10px;
  border-style:double;
}

.center {
  text-align:center;
  
}

.green {
  color:green;
}

a {
  color:goldenrod;
  transition-property: color;
  transition-duration: 1s;
}

a:hover {
  color:gold;
}

.lightgreen {
  color:greenyellow;
}

.imgBorder {
  border-radius:100px;
}

.borderText ul {
  list-style-position: inside;
  text-align: center;
  padding: 0;
}

img {
display:block;
margin: 0 auto;
}

@media (max-width: 600px) {
  body {
    padding: 10px; 
  }

  img {
    display: block;
    margin: 0 auto;
    width: 90%; 
    height: auto; 
  }

  .borderText {
    text-align: center;
  }

  .borderText ul {
    list-style-position: inside;
    padding: 0;
  }
}

p {
  max-width: 750px;
  margin: 0 auto;
  text-align:center;
}

footer {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}


